{% extends "base.html" %}

{% block content %}
<div class="details-container">
    <h1>Détails de l'astéroïde</h1>
    <p><strong>ID :</strong> {{ asteroid.id }}</p>
    <p><strong>Nom :</strong> {{ asteroid.name }}</p>
    <p><strong>Diamètre :</strong> {{ asteroid.size_max }} km</p>
    <p><strong>Vitesse :</strong> {{ asteroid.velocity }} km/s</p>
    <p><strong>Distance :</strong> {{ asteroid.distance }} km</p>
    <p><strong>Dangereux ? :</strong> {{ "Oui" if asteroid.is_hazardous else "Non" }}</p>
</div>
{% endblock %}