{% extends "base.html" %}

{% block content %}
<div class="hero">
    <h1>🚀 Asteroid Tracker</h1>
    <p>🌌 Suivi des astéroïdes en temps réel avec la NASA</p>
    <button onclick="window.location.href='/admin'">🛰️ Gérer les Astéroïdes</button>
    <label for="dateFilter" style="color: white;">📅 Filtrer par date :</label>
    <input type="date" id="dateFilter" value="{{ today }}" style="background: black; color: #64ffda; border: 1px solid white;">
    <button id="filterButton" style="margin-left: 10px; padding: 5px 10px; background: #3A86FF; color: white; border-radius: 5px; cursor: pointer;">🔍 Appliquer</button>
</div>

<section class="charts">
    <div class="chart-container">
        <h2>📡 Distance des astéroïdes</h2>
        <canvas id="distanceChart"></canvas>
    </div>
    <div class="chart-container">
        <h2>⚡ Vitesse des astéroïdes</h2>
        <canvas id="velocityChart"></canvas>
    </div>
</section>

<script src="/static/js/scripts.js" defer></script>
{% endblock %}